<h1>Listing quizzes</h1>

<table id="quizzes-table">
  <tr>
    <th>Content</th>
    <th>Item</th>
    <th>Video</th>
    <th>Video time</th>
    <th>Video end</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Quiz</a>