<hr>
  <form accept-charset="UTF-8" action="/spaceable_memories/3" class="quiz-btn" data-remote="true" method="post">
    <input name="_method" type="hidden" value="put" />
    <input id="spaceable_memory_quality" name="spaceable_memory[quality]" type="hidden" value="0" />
    <a href="#" class="btn btn-danger submit">MISS!</a>
  </form>

  <form accept-charset="UTF-8" action="/spaceable_memories/3" class="quiz-btn" data-remote="true" method="post">
    <input name="_method" type="hidden" value="put" />
    <input id="spaceable_memory_quality" name="spaceable_memory[quality]" type="hidden" value="3" />
    <a href="#" class="btn btn-warning submit">HARD</a>
  </form>

  <form accept-charset="UTF-8" action="/spaceable_memories/3" class="quiz-btn" data-remote="true" method="post">
    <input name="_method" type="hidden" value="put" />
    <input id="spaceable_memory_quality" name="spaceable_memory[quality]" type="hidden" value="4" />
    <a href="#" class="btn btn-success submit">GOOD</a>
  </form>

  <form accept-charset="UTF-8" action="/spaceable_memories/3" class="quiz-btn" data-remote="true" method="post">
    <input name="_method" type="hidden" value="put" />
    <input id="spaceable_memory_quality" name="spaceable_memory[quality]" type="hidden" value="5" />
    <a href="#" class="btn btn-primary submit">EASY</a>
  </form>
