<div id="video" style="width: 420px; height: 315px; margin: auto;">
  <a class="play-btn btn btn-small btn-info" data-videoid="<%= @lecture.video_id %>" data-start="0" data-end="9999" href="#"><i class="icon-play icon-white"></i> Watch!</a>
</div>

<div id="item"></div>

