<div class="span4" id="navigation-sidebar"></div><!-- hook for sidebar view -->
<div class="span8" id="main-column">
  <div class="study-container" id="study-container">
    <div id="quiz-container"></div>
    <div id="rating-panel"></div>
  </div><!-- hook for study -->
  <div class="item-container" id="item-container"></div><!-- hook for item show -->
  <div class="video-container well hidden" id="video-container">
    <div id="video" style="width: 420px; height: 315px; margin: auto;"></div>
  </div>
</div>

