<div class="span4" style="height: 100px;"><!-- this is to hold the left column for the fixed-position nav bar... --></div>
<div class="span4" id="navigation-column">
  <div id="item-nav" class="sidebar-nav">
    <div id="search-header">
      <input class="input focused" id="search-box" name="search" type="text" autocomplete="off" value="" placeholder="Type a definition or theorem">
    </div>
    <ul class="nav nav-list" id="item-nav-list"></ul>
  </div>
</div>

<div class="span8" id="main-column">
  <div class="study-container" id="study-container">
    <div id="quiz-container"></div>
    <div id="rating-panel"></div>
  </div><!-- hook for study -->
  <div class="item-container" id="item-container"></div><!-- hook for item show -->
  <div class="video-container well hidden" id="video-container">
    <div id="video" style="width: 420px; height: 315px; margin: auto;"></div>
  </div>
</div>
