<h1>Listing lectures</h1>

<table id="lectures-table">
  <tr>
    <th>Title</th>
    <th>Video</th>
    <th>Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Lecture</a>