<h1>New lecture</h1>

<form id="new-lecture" name="lecture">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="video_id"> video_id:</label>
    <input type="text" name="video_id" id="video_id" value="<%= video_id %>" >
  </div>

  <div class="field">
    <label for="number"> number:</label>
    <input type="text" name="number" id="number" value="<%= number %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Lecture" />
  </div>

</form>

<a href="#/index">Back</a>