<div class="row lecture-title">
  <div class="span12">
    <h2>Lecture <%= number %> : <%= title %></h2>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="video-container" id="video-container">
     <div id="video" style="width:460px;" >
     </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
   <a class="play-btn btn btn-small btn-info" data-videoid="<%= video_id %>" data-start="0" data-end="9999" href="#"><i class="icon-play icon-white"></i> Watch!</a>
  </div>
</div>
