<a href="#" data-id="<%= id %>" data-quality="0" class="btn btn-danger submit">MISS!</a>
<a href="#" data-id="<%= id %>" data-quality="3" class="btn btn-warning submit">HARD</a>
<a href="#" data-id="<%= id %>" data-quality="4" class="btn btn-success submit">GOOD</a>
<a href="#" data-id="<%= id %>" data-quality="5" class="btn btn-primary submit">EASY</a>
