<% if item.memories.find_by_learner_id(current_user).due? %>
  <button class="btn btn-small btn-danger disabled">Due</button>
<% else %>
  <button class="btn btn-small disabled">Learned</button>
<% end %>
