<div class="main-page row" id="backbone-page">
  <div class="span4" id="navigation-column"></div>

  <div class="span8" id="main-column">
    <div class="study-container" id="study-container">
      <div id="quiz-container"></div>
      <div id="rating-panel"></div>
    </div><!-- hook for study -->
    <div class="item-container" id="item-container"></div><!-- hook for item show -->
    <div class="video-container well hidden" id="video-container">
      <iframe id="video" class="youtube-player" type="text/html" width="420" height="315" src="http://www.youtube.com/embed/sqEyWLGvvdw" allowfullscreen frameborder="0" style="margin: 0 auto;">
      </iframe>
    </div>
    <div id="latex-container"></div>
  </div>
</div><!-- hook for backbone.js app -->

<!-- initializes the backbone.js app -->
<script type="text/javascript">
$(document).ready(function() {
    // sets up namespace for backbone app
    window.RudiniApp = {};

    // initializes routers
    window.RudiniApp.items = new Rudini.Routers.ItemsRouter({items: <%= @items.to_json.html_safe -%>});
    window.RudiniApp.lectures = new Rudini.Routers.LecturesRouter({lectures: <%= @lectures.to_json.html_safe -%>});
    window.RudiniApp.study = new Rudini.Routers.StudyRouter({memories: <%= @memories.to_json.html_safe -%>, quizzes: <%= @quizzes.to_json.html_safe -%>});
    Backbone.history.start();
    RudiniApp.items.renderSidebar();
});

$.ajaxSetup({
      beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
            }
            });
</script>
