<div class="main-page" id="backbone-page"></div><!-- hook for backbone.js app -->

<!-- initializes the backbone.js app -->
<script type="text/javascript">
  $(function() {
      window.items = new Rudini.Routers.ItemsRouter({items: <%= @items.to_json.html_safe -%>});
      window.lectures = new Rudini.Routers.LecturesRouter({lectures: <%= @lectures.to_json.html_safe -%>});
      Backbone.history.start();
      });
</script>
