<h1>Listing items</h1>

<table id="items-table">
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th>Label</th>
    <th>Video</th>
    <th>Video time</th>
    <th>Video end</th>
    <th>Item info</th>
    <th>Lecture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Item</a>