<div class="span4" id="navigation-sidebar">
  <div class="sidebar-nav" id="item-nav" >
    <div id="search-header">
      <input class="input focused" id="search-box" name="search" type="text" autocomplete="off" value="" placeholder="Type a definition or theorem">
    </div>
    <ul class="nav nav-list" id="item-nav-list"></ul>
  </div>
</div>
<div class="span8" id="main-column">
  <div id="quiz-container" class="quiz-container"></div>
  <div class="item-container" id="item-container"></div><!-- hook for item show -->
  <div class="video-container well hidden">
    <div id="video" style="width: 420px; height: 315px; margin: auto;"></div>
  </div>
</div>

