<div class="sidebar-nav" id="item-nav" >
  <div id="search-header">
    <input class="input focused" id="search-box" name="search" type="text" autocomplete="off" value="" placeholder="Type a definition or theorem">
  </div>
  <ul class="nav nav-list" id="item-nav-list"></ul>
</div>
