<div class="item">
    <span class="quiz">
      <div class="well">
        <p><%= content %></p>
      </div>
      <% if (video_id) { %>
        <a class="play-btn btn btn-small btn-info" data-videoid="<%= video_id %>" data-start="<%= video_time %>" data-end="<%= video_end %>" href="#"><i class="icon-play icon-white"></i> Watch!</a>
      <% } %>
    </span>
</div>
