<div class="item">
    <span class="quiz">
      <div class="well">
        <p><%= content %></p>
      </div>
      <% if (video_id) { %>
        <a class="play-btn btn btn-small btn-info" data-videoid="<%= video_id %>" data-start="<%= video_time %>" data-end="<%= video_end %>" href="#"><i class="icon-play icon-white"></i> Watch!</a>
      <% } %>
    </span>
</div>


<hr>

<h2>$\LaTeX$ cheatsheet</h2>

<p>Via <a href="http://www.stdout.org/~winston/latex/latexsheet.pdf">http://www.stdout.org/~winston/latex/latexsheet.pdf</a>.
Some questions may require input using one of the symbols below.
Enter the symbol command (left column) <em>without</em> math mode symbols such as $.
Symbols such as + or &lt; do not require LaTeX.
</p>

<table class="table">
  <tr>
    <td>$\leq$</td>
    <td><tt>\leq</tt></td>
    <td>$\geq$</td>
    <td><tt>\geq</tt></td>
    <td>$\neq$</td>
    <td><tt>\neq</tt></td>
    <td>$\approx$</td>
    <td><tt>\approx</tt></td>
  </tr>
  <tr>
    <td>$\times$</td>
    <td><tt>\times</tt></td>
    <td>$\div$</td>
    <td><tt>\div</tt></td>
    <td>$\pm$</td>
    <td><tt>\pm</tt></td>
    <td>$\cdot$</td>
    <td><tt>\cdot</tt></td>
  </tr>
  <tr>
    <td>$^{\circ}$</td>
    <td><tt>^{\circ}</tt></td>
    <td>$\circ$</td>
    <td><tt>\circ</tt></td>
    <td>$\prime$</td>
    <td><tt>\prime</tt></td>
    <td>$\cdots$</td>
    <td><tt>\cdots</tt></td>
  </tr>
  <tr>
    <td>$\infty$</td>
    <td><tt>\infty</tt></td>
    <td>$\neg$</td>
    <td><tt>\neg</tt></td>
    <td>$\wedge$</td>
    <td><tt>\wedge</tt></td>
    <td>$\vee$</td>
    <td><tt>\vee</tt></td>
  </tr>
  <tr>
    <td>$\supset$</td>
    <td><tt>\supset</tt></td>
    <td>$\forall$</td>
    <td><tt>\forall</tt></td>
    <td>$\in$</td>
    <td><tt>\in</tt></td>
    <td>$\rightarrow$</td>
    <td><tt>\rightarrow</tt></td>
  </tr>
  <tr>
    <td>$\subset$</td>
    <td><tt>\subset</tt></td>
    <td>$\exists$</td>
    <td><tt>\exists</tt></td>
    <td>$\notin$</td>
    <td><tt>\notin</tt></td>
    <td>$\Rightarrow$</td>
    <td><tt>\Rightarrow</tt></td>
  </tr>
  <tr>
    <td>$\cup$</td>
    <td><tt>\cup</tt></td>
    <td>$\cap$</td>
    <td><tt>\cap</tt></td>
    <td>$\mid$</td>
    <td><tt>\mid</tt></td>
    <td>$\Leftrightarrow$</td>
    <td><tt>\Leftrightarrow</tt></td>
  </tr>
  <tr>
    <td>$\dot a$</td>
    <td><tt>\dot a</tt></td>
    <td>$\hat a$</td>
    <td><tt>\hat a</tt></td>
    <td>$\bar a$</td>
    <td><tt>\bar a</tt></td>
    <td>$\tilde a$</td>
    <td><tt>\tilde a</tt></td>
  </tr>
  <tr>
    <td>$\alpha$</td>
    <td><tt>\alpha</tt></td>
    <td>$\beta$</td>
    <td><tt>\beta</tt></td>
    <td>$\gamma$</td>
    <td><tt>\gamma</tt></td>
    <td>$\delta$</td>
    <td><tt>\delta</tt></td>
  </tr>
  <tr>
    <td>$\leq$</td>
    <td><tt>\leq</tt></td>
    <td>$\geq$</td>
    <td><tt>\geq</tt></td>
    <td>$\neq$</td>
    <td><tt>\neq</tt></td>
    <td>$\approx$</td>
    <td><tt>\approx</tt></td>
  </tr>
  <tr>
    <td>$\leq$</td>
    <td><tt>\leq</tt></td>
    <td>$\geq$</td>
    <td><tt>\geq</tt></td>
    <td>$\neq$</td>
    <td><tt>\neq</tt></td>
    <td>$\approx$</td>
    <td><tt>\approx</tt></td>
  </tr>
  <tr>
    <td>$\leq$</td>
    <td><tt>\leq</tt></td>
    <td>$\geq$</td>
    <td><tt>\geq</tt></td>
    <td>$\neq$</td>
    <td><tt>\neq</tt></td>
    <td>$\approx$</td>
    <td><tt>\approx</tt></td>
  </tr>
  <tr>
    <td>$\leq$</td>
    <td><tt>\leq</tt></td>
    <td>$\geq$</td>
    <td><tt>\geq</tt></td>
    <td>$\neq$</td>
    <td><tt>\neq</tt></td>
    <td>$\approx$</td>
    <td><tt>\approx</tt></td>
  </tr>
  <tr>
    <td>$\leq$</td>
    <td><tt>\leq</tt></td>
    <td>$\geq$</td>
    <td><tt>\geq</tt></td>
    <td>$\neq$</td>
    <td><tt>\neq</tt></td>
    <td>$\approx$</td>
    <td><tt>\approx</tt></td>
  </tr>
  <tr>
    <td>$\leq$</td>
    <td><tt>\leq</tt></td>
    <td>$\geq$</td>
    <td><tt>\geq</tt></td>
    <td>$\neq$</td>
    <td><tt>\neq</tt></td>
    <td>$\approx$</td>
    <td><tt>\approx</tt></td>
  </tr>
  <tr>
    <td>$\leq$</td>
    <td><tt>\leq</tt></td>
    <td>$\geq$</td>
    <td><tt>\geq</tt></td>
    <td>$\neq$</td>
    <td><tt>\neq</tt></td>
    <td>$\approx$</td>
    <td><tt>\approx</tt></td>
  </tr>
  <tr>
    <td>$\leq$</td>
    <td><tt>\leq</tt></td>
    <td>$\geq$</td>
    <td><tt>\geq</tt></td>
    <td>$\neq$</td>
    <td><tt>\neq</tt></td>
    <td>$\approx$</td>
    <td><tt>\approx</tt></td>
  </tr>
</table>
