<div class="item">
    <span class="quiz">
      <div class="well">
        <%= model.content %>
      </div>
      <% if (model.video_id) { %>
        <a class="play-btn btn btn-small btn-info" data-videoid="<%= model.video_id %>" data-start="<%= model.video_time %>" data-end="<%= model.video_end %>" href="#"><i class="icon-play icon-white"></i> Watch!</a>
      <% } %>
    </span>
</div>
