<div class="span4" id="navigation-sidebar"></div><!-- hook for sidebar view -->
<div class="span8" id="main-column">
  <div id="quiz-container" class="quiz-container"></div>
  <div class="item-container" id="item-container"></div><!-- hook for item show -->
  <div class="video-container well hidden">
    <div id="video" style="width: 420px; height: 315px; margin: auto;"></div>
  </div>
</div>

