body { 
  font-size: 14px;
  .navbar > .navbar-inner {
  background-color: whiteSmoke;
  background-image: none;
  .subtitle { color: #999; }
  .brand { color: #999; margin-left: 10px; }
  }

  .navbar-fixed-top { height: 50px;

  .container { 
    margin-bottom: 5em;
    width: 1000px;
    .row { width: 1000px; }
   }

  small, a { color: white; vertical-align: middle; }
  span.pull-right { 
    vertical-align: middle; 
    margin-top: .5em; 
    color: white;
    }
  }
}

h2 > span.label { margin-right: 1em; vertical-align: 13%; }

.hidden { display: none; }

.video-container {
  width: 75%;
  margin: auto;
}


.item-container { 
  min-height: 5em;
  margin-bottom: 2em;
  .item p { font-size: 1.5em; line-height: 1.6em; }
  .item p a { font-size: .8em;}
  .item-button-panel { margin-top: 15px; text-align: right; margin-right: 15px; }
}


//.rd-logo { font-size: 16px; padding: 8px 8px 2px 2px; background-color: #ffe8cc; }

form.new_spaceable_memory { display: inline; }
.item-study-info { display: inline; }

// Lecture things...
.lecture-title { margin-bottom: 30px; }

