@import "bootstrap/mixins";
@import "bootstrap/wells";

/* Are these necessary anymore...?
.item-type { font-size: 1.2em; color: #9cf; }
.item-name { font-weight: bold; }
#list { list-style: none; overflow-y: auto; overflow-x: hidden; }
#list li { margin-bottom: 1em; color: black; }
.example-search { font-style: italic; color: #ccc; }
#list li p { font-size: 1.5em; line-height: 1.6em; }
#list li p a { font-size: .8em;}
.term { font-size: 1em; }
.control { font-size: .8em; }
.logo { font-size: 16px; font-weight: bold; color: #ff1b19; vertical-align: middle; }
*/

#main-column { margin-left: 20px; }

.sidebar-nav {
  padding: 15px 0px 0px 15px;
  margin-right: 10px;
  @extend .well;
  .nav-list { overflow-y: scroll; height: 480px; overflow-x: hidden; }
  #search-box { width: 95%; }
}

